{% extends 'blog/include/base.html' %}

{% block title %}
    <title>Профиль</title>
{% endblock %}

{% block content %}
<div class="profile">
  <div class="avatar-container">
    <img class="avatar"  src='{{user.avatar.url}}' alt="{user.username}}" width="200em" height="195em">
  </div>
  <dl class="row row-cols-1 row-cols-md-1 row-cols-lg-1">
    <dt class="col text-center text-danger">Имя пользователя:</dt>
    <dd class="col text-center fw-light fst-italic text-white">{{user.username}}</dd>

    <dt class="col text-center text-danger">Имя :</dt>
    <dd class="col text-center fw-light fst-italic text-white">{{user.first_name|default:"Не указано"}}</dd>

    <dt class="col text-center text-danger">Фамилия:</dt>
    <dd class="col text-center fw-light fst-italic text-white">{{user.last_name|default:"Не указано"}}</dd>

    <dt class="col text-center text-danger">Электронная почта:</dt>
    <dd class="col text-center fw-light fst-italic text-white">{{user.email}}</dd>

    <dt class="col text-center text-danger">Пол:</dt>
    <dd class="col text-center fw-light fst-italic text-white">{{user.get_gender_display}}</dd>

    <dt class="col text-center text-danger">Дата рождения:</dt>
    <dd class="col text-center fw-light fst-italic text-white">{{user.birthday|date:"d M Y" |default:"Не указано"}}</dd>

    <dt class="col text-center text-danger">Дата регистрации:</dt>
    <dd class="col text-center fw-light fst-italic text-white">{{user.date_joined|date:"d M Y"}}</dd>
    
    <hr class="text-white" style="margin-top:0%">

    <a class="text-center" href="{% url 'profile_change' %}"><button type="submit" value="Update" class="btn btn-outline-danger btn-sm btn-log">Изменить информацию</button></a>
    <a class="form-log" href="{% url 'password_change' %}"><button type="button" class="btn btn-outline-success btn-sm">Изменить пароль</button></a>
  </dl>
</div>

{% endblock %}