{% extends 'blog/include/base.html' %}
{% load static %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
<div class="content text-center">
    <p class="test-class "> Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
    </p>
</div>
{% endblock %}

