{% load blog_tags %}

{% showcats cat_selected=cat_selected%}

<div class="profile-2">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2  g-1">

        {% for p in posts %}
        <div class="col">
        {% if p.is_published %}

            <div class="profile-cust card h-100">
                <div class="card-body">
                    <div class="container">
                        <span class="right" style="float:right;"> <p class="text-danger time">Категория: {{p.cat}}</p></span><span class="left" style="float:left;"><p class="text-muted time">{{p.time_create|date}}</p></span>
                    </div>
                    <br>
                    <hr class="text-white" style="margin-top:0%">
                    <h2 class="text-info fs-5 text-center">{{ p.title|truncatechars:51 }}</h2>
                    <hr class="text-white">
                    {% if p.photo %}
                    <div class="text-center">
                        <img class="image-post" src="{{p.photo.url}}">
                    </div>
                    <p class="text-light fs-9 text-blog ">{{p.text|linebreaksbr|truncatechars:300}}</p>
                    {% else %}
                    <p class="text-light fs-9 text-blog ">{{p.text|linebreaksbr|truncatechars:1190}}</p>
                    {% endif %}

                </div>
                <div class="card-footer ">
                    <hr class="text-white" style="margin-top:0%">
                    <div class="text-center">
                        <a href="{{p.get_absolute_url}}"><button type="button" class="btn btn-outline-warning btn-sm btn-profile">Читать</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif%}
        {% endfor %}

    </div>

</div>
