<div class="text-center">
    <div class="btn-group">
      <button disabled type="button" class="btn btn-dark">Категории</button>
      <hr class="text-white">
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden"></span>
      </button>
      <ul class="dropdown-menu">
        {% if cat_selected == 0 %}
            <button class="dropdown-item active" type="button">Все категории</button>
            {% else %}
            <a href="{% url 'blog' %}"><button class="dropdown-item " type="button">Все категории</button></a>
            {% endif %}

            {% for c in cats %}
            {% if c.pk == cat_selected %}
            <button class="dropdown-item active" type="button">{{c.name}}</button>
             {% else %}
            <a class="cat" href="{{ c.get_absolute_url }}"><button class="dropdown-item " type="button">{{c.name}}</button></a>
            {% endif %}
            {% endfor %}
      </ul>
    </div>
</div>

<div class="profile-2">
    {% for p in posts %}
        {% if p.is_published%}
        <div class="profile-cust">
            <div class="container">
                <span class="right" style="float:right;"> <p class="text-danger time">Категория: {{p.cat}}</p></span><span class="left" style="float:left;"><p class="text-muted time">{{p.time_create|date}}</p></span>
            </div>
            <br>
            <hr class="text-white" style="margin-top:0%">
            <h2 class="text-info fs-4 text-center">{{ p.title|truncatechars:80 }}</h2>
            <hr class="text-white">
            {% if p.photo %}
            <img src="{{p.photo.url}}" style="width:100%;">
            {% endif %}
            <p class="text-light fs-9 text-blog">{{p.text|linebreaksbr|truncatechars:300}}</p>
            <hr class="text-white">
            <div class="text-center">
                <a href="{{p.get_absolute_url}}"><button type="button" class="btn btn-outline-warning btn-sm btn-profile">Читать</button></a>
            </div>
        </div>
        {% endif%}
        {% endfor %}
</div>
