{% extends 'blog/include/base.html' %}
{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}
<div class="content">
    <p class="test-class "> Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент Контент
      Контент Контент Контент Контент Контент Контент Контент Контент Контент

    </p>
</div>
{% endblock %}
