html {
  position: relative;
  min-height: 90%;
}


body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 6%;
  background-color: rgba(72, 1, 58, 0.789);
}


/* ЭЛЕМЕНТЫ НАВБАРА */
.navbar-dark {
  padding: 1px;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
}
.logo {
  border-radius: 50%;
  /* margin-right:7px; */
  margin-left: 1%;
  border: 1px solid rgb(255, 255, 255); padding: 0.1px;
  /* box-shadow: 0 1px 5px rgb(255, 0, 200), 0 3px 3px rgb(255, 255, 255) */ 
}
.logo:hover{
  border: 0.9px solid rgb(0, 0, 0); padding: 0.1px;
  box-shadow: 0 1px 5px rgb(251, 0, 255), 0 3px 3px rgb(255, 0, 217)
}
.btn {
  margin: 6px;
  font-weight: 648;
  text-shadow: 1px 0 rgb(0, 0, 0), -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 0 -1px rgb(0, 0, 0),
  1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
.btn-outline-danger {
  background-color: rgba(101, 0, 0, 0);
  border: 1.5px solid rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
.btn-outline-info {
  color: rgb(255, 255, 255);
}
.btn-outline-danger:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 0, 0);
}
.btn-outline-info:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 174, 255);
}


/* ЭЛЕМЕНТЫ МЕНЮ С БУРГЕРОМ*/
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .nav-link {
  color: rgb(255, 255, 255);
  font-size: 21px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 4px;
  font-weight: 358;
  text-shadow: 1px 0 rgb(0, 0, 0), -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 0 -1px rgb(0, 0, 0),
  1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color:rgb(255, 0, 0);
}


/*БЛОК КОНТЕНТ */
.content{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 0.1%;
  padding: 3%;
  padding-bottom: 1%;
  border-radius: 1em;
  background-color:rgba(31, 30, 30, 0.867);
  box-shadow: 0 0px 3px rgb(141, 141, 141), 0 0px 3px rgb(0, 0, 0);
}


/* ЭЛЕМЕНТЫ ПОДВАЛА */
footer {
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
}
.text-footer {
  font-size: 80%;
  text-align: center;
  color: rgb(231, 226, 226);
}
.cont-right, .site-right {
  font-size: 68%;
  text-align: center;
  color: rgb(234, 231, 231);
  padding-left: 0cm;
  padding-right: 0cm;
}
.text-mail, .text-mail:hover {
  color: rgb(49, 174, 228);
  text-decoration: none;
  padding-bottom: 2%;
}


/* СТРАНИЦА РЕГИСТРАЦИИ */
.footnote {
  color: rgb(198, 197, 197);
  font-size: xx-small;
  text-decoration: underline red;
  margin-bottom: 0px;
  margin-top: 5%;
  text-align: center;
}
.required {
  color:red;
}
.form-input {
  width: 200px;
  font-size: 20px;
  background: #f1f1f1;
}
.form-label {
  display: inline-block;
  min-width: 200px;
  vertical-align: top;
  color: white;
}
input, select {
  padding-left: 1.5%;
  border:0.9px solid rgba(234, 0, 255, 0.92);
  border-radius: 27em;
  background-color: #ffffffbf;
  width: 65px;
  font-size: 15px;
}
.form-reg {
  text-align: center;
  margin-top: 0%;
}
#id_username, #id_first_name, #id_last_name, #id_password1, #id_password2,  #id_email {
  width: 160px;
}
#id_age {
  width: 160px;
  padding-left: 70px;
 }
#id_avatar {
  width: 160px;
  height: 26px;
  padding-left: 0px;
  font-size: xx-small;
 }
#id_gender {
  width: 160px;
  font-size: 15px;
  padding-left: 40px;
}
::-webkit-file-upload-button{
  border-top: 0px;
  border-radius: 27em;
  border: 1px solid rgba(234, 0, 255, 0.92);
  background-color: #00000074;
  border: 1px solid rgba(255, 0, 0, 0.92);
  height: 24px;
}
::-webkit-file-upload-button:hover{
  border-radius: 27em;
  background-color: #ffffff00;
  color: rgb(255, 0, 191);
}
.form-error ul {
  list-style: none;
  padding: 0;
  color: #CC0000;
}
.round-img {
  margin-top: 3%;
  margin-bottom: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 20%;
  box-shadow: 0 0 25px rgba(255, 250, 255, 2);
  margin-bottom: 2em;
}
.title {
  font-family: 'Comfortaa', cursive;
  padding-bottom: 4%;
  font-size: xx-large;
  color: white;
  text-shadow: 0 1px 0 rgb(0, 0, 0), 
               0 2px 0 rgb(255, 0, 255), 
               0 6px 1px rgba(255, 255, 255, 0),
               0 8px 10px rgba(255, 245, 245, 0),
               0 10px 20px rgba(255, 255, 255, 0);
}
.btn-reg {
  margin-top: 0px;
}
.btn-reg:hover, .btn-profile:hover {
  color: rgb(255, 255, 255);
}


/* СТРАНИЦА АВТОРИЗАЦИИ */
.form-label-log {
  color: white;
  display: inline-block;
  min-width: 200px;
  vertical-align: top;
  font-size: 20px;
  text-shadow: 1px 0 rgb(0, 0, 0), -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 0 -1px rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
.label-ul-log  #id_password, .label-ul-log #id_username {
  background-color: rgba(31, 30, 30, 0.867);
  color: white;
  width: 160px;
  height: 30px;
  padding-left: 5px;
}
.label-ul-log {
  text-align: center;
}
.form-log {
  text-align: center;
}
.res-password {
  text-align: center;
  color: rgb(4, 213, 227);
  font-size: medium;
  margin-bottom: 1%;
  margin-top: 2%;
}
.res-password:hover {
  color: yellow;
}
.log-error {
  text-align: center;
  color: rgb(229, 255, 0);
}


/* СТРАНИЦЫ ВОССТАНОВЛЕНИЯ ПАРОЛЯ ПО ПОЧТЕ */
.email-reset {
 margin-top: 5%;
 color:white;
 text-align: center;
}
.email-reset input#id_email {
  padding-left: 0.5%;
}
.pass-leter {
  margin-left: 30%;
  margin-right: 30%;
}
.container-log {
  background: none;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
  margin-bottom: 0.1%;
  padding: 1%;
  border-radius: 1em;
}
#id_new_password1, #id_new_password2 {
  width: 160px;
  padding-left: 0.5%;
}
.btn-password {
  margin-top: 3%;
}
.pass-marg {
  margin-top: 2%;
}
.reg-h{
  color: rgb(0, 170, 255);
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}
ul.errorlist {
  list-style-type: none;
  padding-left: 0%;
}


/* СТРАНИЦА ПРОФИЛЯ */
div.profile {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 0.1%;
  padding: 3%;
  padding-bottom: 1%;
  border-radius: 1em;
  background-color:rgba(31, 30, 30, 0.867);
  box-shadow: 0 0px 3px rgb(141, 141, 141), 0 0px 3px rgb(0, 0, 0);
}
.avatar {
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(234, 145, 242, 0.92);
}
.avatar-container {
  text-align: center;
}


/* СТРАНИЦА ИЗМЕНЕНИЯ ПРОФИЛЯ */
div.profile form p.label-ul-log input#id_username {
  padding-left: 1.5%;
  border:0.9px solid rgba(234, 0, 255, 0.92);
  border-radius: 27em;
  background-color: #ffffffbf;
  height: 25px;
  font-size: 15px;
  color: black;
}


/* СТРАНИЦА ИЗМЕНЕНИЯ ПАРОЛЯ */
.passw {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 0.1%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  border-radius: 1em;
  background-color:rgba(31, 30, 30, 0.867);
  box-shadow: 0 0px 3px rgb(141, 141, 141), 0 0px 3px rgb(0, 0, 0);
}
.sm-text {
  font-size: 17px;
}
#id_old_password {
  width: 160px;
  padding-left: 0.5%;
}
.label-psw {
  min-width: 39%;
}


/* СТИЛИ БЛОГА И КОНКРЕТНЫХ ПОСТОВ*/
div.profile-2 {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 0.1%;
  padding-top: 0.1%;
  border-radius: 1em;
  background-color:rgba(31, 30, 30, 0.867);
  box-shadow: 0 0px 3px rgb(141, 141, 141), 0 0px 3px rgb(0, 0, 0);
}
.profile-cust {
  margin: 3%;
  margin-top: 3%;
  padding: 2%;
  border-radius: 1em;
  background-color:rgba(23, 23, 23, 0.99);
  box-shadow: 0 0px 3px rgb(141, 141, 141), 0 0px 3px rgb(0, 0, 0);
}
.time {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 12px;
}
ul.dropdown-menu.show {
  background-color:rgba(49, 49, 49, 0.773);
  text-align: center;
  padding: 0%;
}
button.dropdown-item {
  color: #ffffff;
  padding: 0%;
}
.cat {
  text-decoration: none !important;
}
button.dropdown-item.active {
  color: red;
  background-color: rgba(255, 0, 0, 0);
}
.categ {
  background-color: black;
  margin: 3%;
  border: 1px solid white;
  border-radius: 2em;
  color: white;
}
.text-blog {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align:justify;
}


/* ТЕСТОВЫЕ СТИЛИ */
.test-class {
  color: rgba(255, 255, 255, 0.986);
  margin-bottom: 0;
}