{% extends 'blog/base.html' %}
{% block content %}

<div class="container-log text-center"> 
    {% if validlink %}
    <h5 class="reg-h">Пожалуйста введите Ваш новый пароль.</h5> 

        <form action="" method="post">
            {% csrf_token %}


                    
                    <p class="label-ul-log text-left pass-marg"><label class="form-label-log" for="id_new_password1">Новый пароль:</label></p>
                    </p>{{ form.new_password1 }}</p>
   
                    <p class="label-ul-log pass-marg"><label class="form-label-log" for="id_new_password2">Подтверждение нового пароля:</label></p>
                    <p>{{ form.new_password2 }}</p>
                    <div class="log-error">{{ form.new_password1.errors }}{{ form.new_password2.errors }}</div>
                    <p class="form-log text-center btn-password"><button type="submit" value="Change my password" class="btn btn-outline-info btn-log">Сменить пароль</button></p>
        </form>
    {% else %}
        <h5 class="reg-h">Ошибка смены пароля</h5>
        <h3 class="reg-h text-warning">Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</h3>
    {% endif %}
</div>
{% endblock %}